In [1]:
import numpy as np
import pandas as pd
import os

In [12]:
# path = '/home/maroco/dataset/kor_dataset/'
path = '/home/maroco/dataset/ham_dataset_xlsx'
files = os.listdir(path)
filenames = []

result = []

for root, dirs, files in os.walk(path):
  for file in files:
    if file.endswith('.xlsx'):
      filenames.append(os.path.join(root, file))

for filename in filenames:
  pre_df = pd.read_excel(filename, engine='openpyxl')
  result.append(pre_df)

df = pd.concat(result, ignore_index=True)

In [13]:
df.head(5)

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,...,question,answer,q_entity,a_entity,13,도메인,Unnamed: 10,동의어,main,동의어
0,고객,아이스아메리카노 하나요,F,카페,카페,1.0,1,일반주문,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,점원,테이크아웃하실 건가요?,F,카페,카페,0.0,2,일반주문,테이크아웃여부,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,고객,네 텀블러에 넣어주세요,F,카페,카페,1.0,3,텀블러사용,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,점원,텀블러 할인 300원 해드릴게요,F,카페,카페,0.0,4,텀블러사용,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,고객,그란데 사이즈로 주세요,F,카페,카페,1.0,5,일반주문,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# 결측치 처리
print(len(df))
drop_index = df[df['SENTENCE'].isnull()].index
df = df.drop(drop_index)
print(len(df))

95955
90413

In [15]:
# 중복 내용 제거
print(len(df))
df = df.drop_duplicates('SENTENCE')
print(len(df))

90413
79826

In [19]:
df = df.drop(columns=[
    'SPEAKER',
    'DOMAINID',
    'DOMAIN',
    'CATEGORY',
    'SPEAKERID',
    'SENTENCEID',
    'MAIN',
    'SUB',
    'QA',
    'QACNCT',
    'MQ',
    'SQ',
    'UA',
    'SA',
    '개체명',
    '용어사전',
    '지식베이스',
    'Unnamed: 18',
    # '44',
    # '화자',
    # 'intent',
    # 'subintent',
    # 'question',
    # 'answer',
    # 'q_entity',
    # 'a_entity',
    # '13',
    # '도메인',
    # 'Unnamed: 10',
    # '동의어',
    # 'main',
    # '동의어',
])
df = df.dropna(axis=1, how='any')

In [20]:
df['spam'] = 0
new_df = df.rename(columns={'SENTENCE': 'data'})

In [21]:
new_df.columns

Index(['data', 'spam'], dtype='object')

In [22]:
new_df.head(5)

                data  spam
0       아이스아메리카노 하나요     0
1       테이크아웃하실 건가요?     0
2       네 텀블러에 넣어주세요     0
3  텀블러 할인 300원 해드릴게요     0
4       그란데 사이즈로 주세요     0

In [23]:
# new_df.to_csv('/home/maroco/dataset/sms_dataset/ham.csv',index=False)
new_df.to_csv('/home/maroco/dataset/preprocessed_set/ham_xlsx.csv',index=False)