In [29]:
import numpy as np
import pandas as pd
import os

In [30]:
path = '/home/maroco/dataset/kor_dataset/'
files = os.listdir(path)
filenames = []

result = []

for root, dirs, files in os.walk(path):
  for file in files:
    if file.endswith('.xlsx'):
      filenames.append(os.path.join(root, file))

for filename in filenames:
  pre_df = pd.read_excel(filename, engine='openpyxl')
  result.append(pre_df)

df = pd.concat(result, ignore_index=True)

In [31]:
df.head(5)

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스,Unnamed: 18
0,고객,애가 고등학교 1학년인데 태권도 하려면 수강료가 얼마쯤?,C,학원,태권도,1,1,교육비문의,NaN,Q,NaN,애가 고등학교 1학년인데 태권도 하려면 수강료가 얼마쯤?,NaN,NaN,NaN,"고등학교 1학년, 태권도, 수강료, 얼마",NaN,"고등학교 1학년/대상, 태권도/과목",NaN
1,점원,12만 원입니다,C,학원,태권도,0,2,교육비문의,NaN,A,NaN,NaN,NaN,NaN,12만 원입니다,12만 원,NaN,12만 원/금액,NaN
2,점원,뭐 때문에 하시려는데요?,C,학원,태권도,0,3,상담문의,수강목적,Q,NaN,NaN,뭐 때문에 하시려는데요?,NaN,NaN,NaN,NaN,NaN,NaN
3,고객,애가 겁도 많고 그래서 태권도 한 번 시켜보려고요,C,학원,태권도,1,4,상담문의,수강목적,A,NaN,NaN,NaN,애가 겁도 많고 그래서 태권도 한 번 시켜보려고요,NaN,"겁, 태권도, 한 번",NaN,NaN,NaN
4,고객,고1이 몇 명쯤 있나요?,C,학원,태권도,1,5,수강생구성문의,NaN,Q,NaN,고1이 몇 명쯤 있나요?,NaN,NaN,NaN,"고1, 몇 명",NaN,고1/대상,NaN

In [32]:
# 결측치 처리
print(len(df))
drop_index = df[df['SENTENCE'].isnull()].index
df = df.drop(drop_index)
print(len(df))

74687
74687

In [33]:
# 중복 내용 제거
print(len(df))
df = df.drop_duplicates('SENTENCE')
print(len(df))

74687
67395

In [34]:
df = df.drop(columns=[
    'SPEAKER',
    'DOMAINID',
    'DOMAIN',
    'CATEGORY',
    'SPEAKERID',
    'SENTENCEID',
    'MAIN',
    'SUB',
    'QA',
    'QACNCT',
    'MQ',
    'SQ',
    'UA',
    'SA',
    '개체명',
    '용어사전',
    '지식베이스',
    'Unnamed: 18'
])

In [35]:
df['spam'] = 0
new_df = df.rename(columns={'SENTENCE': 'data'})

In [38]:
new_df.columns

Index(['data', 'spam'], dtype='object')

In [36]:
new_df.head(5)

                              data  spam
0  애가 고등학교 1학년인데 태권도 하려면 수강료가 얼마쯤?     0
1                         12만 원입니다     0
2                    뭐 때문에 하시려는데요?     0
3      애가 겁도 많고 그래서 태권도 한 번 시켜보려고요     0
4                    고1이 몇 명쯤 있나요?     0

In [40]:
new_df.to_csv('/home/maroco/dataset/sms_dataset/ham.csv',index=False)